/* SETUP INIZIALE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px dotted black;
}

/* STILE HEADER */

header {
    background-color: rgb(255, 115, 0);
}

.col-33-1 {
    display: flex;
    width: calc(100% / 3);
    align-items: center;
    padding: 20px;
}

.col-33-2{
    width: calc( 100% / 3 - 16.7px);
}

.content img{
    width: 100%;
}

/* UTILITY */
.weight-700 {
    font-weight: 700;
}
.border {
    border: 2px dotted black;
}

.img-fit{
    object-fit: fill;
}
.gap-25{
    gap: 25px;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

main {
    margin: 66.26px 0px;
    padding: 50px 0;
}

.position-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

.white-text {
    color: white;
}

.margin-y-10 {
    margin: 0 10px;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.small-image-style {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.logo-img {
    width: 100px;
}

.red-text {
    color: red;
}

.gray-text-crossed {
    color: gray;
    text-decoration: line-through;
}